<% include partials/header %>
<div class="container text-center">
        <h1>Property Details</h1>
        <h2>Property Type: <%= property.propertyType %></h2>
        <p>Price: <%= property.price %></p>
        <img src="../<%= property.picture %>" alt="" class="img-fluid">
        <h4>Address:</h4>
        <p><%= property.streetAdr %></p>
        <p><%= property.city %>, <%= property.state %> <%= property.zip %></p>
        <h3>Listing Agent: </h3>
        <p><%= property.agentName %></p>
        <p><%= property.phone %></p>
        <p><%= property.email %></p>
</div>

<% include partials/footer %>